body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-inverse  {
    background-color: #0084b4;
    color: #0084b4;
    border-color: #0084b4;
    background-image: linear-gradient(to bottom,#0084b4 ,#0084b4 100%);
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover {
    color: #c0deed;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #c0deed;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand>img {
    padding: 7px 14px;
}

.intro-text {
    font-size: 20px;
}

.plane {
    height: 90px;
}

.tabs-list {
    margin: 0;
    padding: 0;
}

.tabs {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 6px 12px 0;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 2px;
}

.tabs-panel {
    padding: 10px;
    display: none;
    z-index: 2;
    position: relative;
}

.form-control {
    width: 400px;
}